{% extends '::base.html.twig' %}

{% block body %}

{% if app.session.hasFlash('success')%}
<div>
    {{ app.session.getFlash('success') }}
</div>
{% endif %}

<h1>Email subscription page</h1>

<form action="{{ path('web_app_test_subscribe_email_save') }}" method="POST"  novalidate>
    {{ form_row(form.email) }}
    {{ form_rest(form) }}
    
    <button type="submit"> Subscribe </button>
    
</form>
{% endblock %}